<div id="update_choice_body">
    <h1 id="update_status_header">Update choice status:</h1>

    <%= render 'form', choice: @choice %>

    <button class="btn btn-info"><%=link_to "Back to current choice", choice_path(current_choice) %></button>
</div>