<div id="add_choice_body">
    <h1 class="page_header">Add a Choice</h1>

    <%= render 'form', choice: @choice %>
    <br>
    <button class="btn btn-info"><%=link_to "Back to Profile", user_path(current_user) %></button>
</div>