/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .field_with_errors {
    padding: 1px;
    background-color: red;
    display: table;
}

.errors {
    color: red
}

.danger {
    color: red;
}

.success {
    color: green;
}

body {
    background-color: rgb(247, 247, 247);
}

h1 {
    font-family: Fascinate;
    font-color: rgb(53, 47, 45);
}

#welcome_header {
    font-family: Fascinate;
    font-color: rgb(36, 32, 31);
    text-align: center;
}

#login_header {
    margin: 20px;
    font-family: Abril Fatface;
}

#login_form {
    background-color: white;
    text-align: center;
    width: 50%;
    border-radius: 2px;
    padding: 25px;
    box-shadow: 0px 0px 10px rgba(0.50, 0.50, 0.50, 0.50), 0 6px 6px rgba(0, 0, 0, 0.25);
}