header {
    background:  #56baed;
    padding: 20px 10px;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: white;
    }
}

.left-nav {
    float: left;
    max-width: 600px;
    width: 60%;
}

.right-nav {
    float: right;
    width: 40%;
}

.right-nav ul li {
    display: block;
    min-width: 75px;
    padding: 0 5px;
    float: right;
}