header {
    background:  rgb(149, 181, 54);
    padding: 8px 0 20px 0;

    ul {
        margin: 5px;
        padding: 0;
        list-style-type: none;
    }

    a, a:active, a:hover {
        text-decoration: none;
        font-weight: bold;
        color: white;
    }
}

.left-nav {
    float: left;
    max-width: 600px;
    width: 60%;
}

.right-nav {
    float: right;
    width: 40%;
}

.right-nav ul li {
    display: block;
    min-width: 75px;
    padding: 0 5px;
    
}

#sign_up_btn, #log_in_btn {
    background-color:#ffc107;
    color: azure;
    margin: 12px 15px 25px 0px;
}

#sign_up_btn:hover, #log_in_btn:hover {
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -webkit-transition: all .25s;
}