// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    padding-top: 0px;
    margin-top: 0px;
    display: block;
    height: 100vh;
  }

#main {
    height: 100%;
    padding: 60px 45px 20px 360px;
    background-color: #f1f1f1;
    margin: 0px;
    border-style: solid;
    border-width: 0px 100px 0px 0px;
    border-color: #004345;
  }

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #bbe950;
    overflow-x: hidden;
    padding-top: 40px;
    text-align: left;
  }

  .sidenav header {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 50px;
    color: black;
    display: block;
    font-family: 'Knewave', cursive;
    text-align:center;
   }

  .sidenav a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    font-family: Oswald;
  }

  .sidenav button:hover {
    background-color: #0d4f35;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -webkit-transition: all .25s;
  }

  .btn {
    background-color: #1f3229;
    border-radius: 20px;
  }

  #user_welcome_name {
    font-family: 'Abril Fatface', cursive;
  }
