<h1>Hello</h1>

<%= button_to "Add food", new_activity_path %>
<%= button_to "Add movie", new_activity_path %>
<%= button_to "Add random food", new_user_path %> %>
<%= button_to "Add random movie" %>
