<div id="add_actv_body">
    <h1 class="page_header">Add a new 
    <% if params[:fooood] %> 
        food
    <% elsif params[:mooobie] %>
        movie
    <% else %>
        restaurant
    <% end %>
    </h1>
    <%= render 'form', activity: @activity %>
</div>