<head>
<link href="https://fonts.googleapis.com/css2?family=Fascinate&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fascinate&display=swap" rel="stylesheet">
</head>


<h1 id="welcome_header">DECISIONS DECISIONS</h1>
<h2>So hard to make them.</h2>
<p id="welcome_p">It’s always so hard to decide. Should I get a pizza or a burger? Should I watch a movie? What movie? The Decisions Decisions app is created just for you!</p>
