<head>
    <link href="https://fonts.googleapis.com/css2?family=Fascinate&display=swap" rel="stylesheet">
</head>

<div class="wrapper">
  <div id="landing_content">
    
  <h2 id="home_banner">Why is It Hard to Decide?</h2>
  <p id="home_p">The big question is why can’t you decide "what should I eat?". Spending far too long scrolling through Netflix? Us too.
    <br>
     Almost all of us at some point have gone through this ‘what should I eat for dinner’, 'What movie should we watch' phase. Somehow at this point, your brain just leaves you and you cannot decide what you want.
    <br>
     Want someone else to do the choosing for you? Well, look no further.
    <br>
    With the Decisions Decisions app you can either choose a film genre or cuisine and the app will recommend something. You can also ‘add random movie/cuisine’ and, you’ve guessed it, it will randomly select something for you to watch or eat!</p>
  </div>
</div>

<div id="foot-note">
    <p> Michael Lee -
     Kim Nguyen -
     Rodrigo Rojas -
   Ellaine Tolentino</p>
    <p> Ye Ye Ye </p>
</div>
