<head>
<link href="https://fonts.googleapis.com/css2?family=Fascinate&display=swap" rel="stylesheet">

</head>

<div class="wrapper">
<div id="landing_content">
<h2 id="home_banner">So hard to make them.</h2>
<p id="home_p">It’s always so hard to decide. Should I get a pizza or a burger? Should I watch a movie? What movie? The Decisions Decisions app is created just for you!</p>
</div>
</div>